.box-img img {
    width: 100%;
    height: 400px;
}

@supports(object-fit: cover) {
    .box-img img {
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }
}

.error {
    color: red;
    font-size: 0.8em;
}

.card-header {
    background-color: #593196 !important;
    color: white;
    opacity: 0.5;
}